<div class="container h-100">
  <div class="row" *ngIf="!errorMessage; else errorTemplate">
    <div *ngFor="let column of config?.layout?.columns" class="col-{{column?.size}}">
      <div *ngFor="let widget of column.widgets">
        <div [ngSwitch]="widget.type">
          <div *ngSwitchCase="'orderbook'">
            <app-orderbook [configuration]="widget.configuration" (message)="displayMessage($event)">
            </app-orderbook>
          </div>
          <div *ngSwitchDefault>
            widget {{widget.type}} not implemented yet.
          </div>
        </div>
      </div>

    </div>
  </div>
  <ng-template #errorTemplate>
    <div class="alert-box error"><span>error: </span> {{errorMessage}}</div>
  </ng-template>
</div>
<div *ngIf="incomingMessage != ''" class="alert-box error"><span>error: </span> {{incomingMessage}}</div>