<!-- <div class="content" role="main">

  <app-orderbook [incomingData]="service.socket$ | async">

  </app-orderbook>

</div> -->
<div class="container">
  <div class="row">
    <div *ngFor="let column of resp.layout.columns" class="col-{{column.size}}">
      <!-- <app-orderbook [incomingData]="service.socket$ | async">

      </app-orderbook> -->
      <div *ngFor="let widget of column.widgets">
        <div [ngSwitch]="widget.type">
          <div *ngSwitchCase="'orderbook'">
            <app-orderbook [configuration]="widget.configuration">
            </app-orderbook>
          </div>
          <div *ngSwitchDefault>
            widget {{widget.type}} not implemented yet.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>