<div>
  <h3 class="text-center">{{title}}</h3>
</div>
<div *ngIf="data.bids?.displayList?.length || data.asks?.displayList?.length" style="height: 100%;" class="fade-page">

  <div class="container --mobile" *ngIf="currentWindowWidth < 992; else desktopTemplate">
    <div class="row">
      <div class="col info">
        {{(data.asks.first - data.bids.first) | number : '1.2-2'}} Spread
      </div>
    </div>
    <div class=" row">
      <div class="col">

        <table mat-table [dataSource]="data.bids?.displayList" class="mat-elevation-z8 bids-table" style="width: 100%">
          <ng-container matColumnDef="Total">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element"> {{element[2]}} </td>
          </ng-container>

          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element" class="price"> {{element[0]}}
              <div class="bg-div right" *ngIf="element != null && element[2]!= null"
                [ngStyle]="{'width': (((element[2]/data.bids.last) || 0)*100) + '%'}">
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['Total', 'Price']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['Total', 'Price'];">
          </tr>
        </table>
      </div>
      <div class="col">
        <table mat-table [dataSource]="data.asks?.displayList?.reverse()" class="mat-elevation-z8 asks-table"
          style="width: 100%">

          <ng-container matColumnDef="Total">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element"> {{element[2]}} </td>
          </ng-container>

          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element" class="price"> {{element[0]}}
              <div class="bg-div ask" *ngIf="element && element[2] != null"
                [ngStyle]="{'width': (((element[2]/data.asks.last) || 0)*100) + '%'}">
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['Price', 'Total']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['Price', 'Total'];let i = index;">
          </tr>
        </table>

      </div>
    </div>

  </div>

  <ng-template #desktopTemplate>
    <table mat-table [dataSource]="data.asks?.displayList" class="mat-elevation-z8 asks-table" style="width: 100%">
      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element" class="price"> {{element[0]}}
          <div class="bg-div ask" *ngIf="element && element[2] != null"
            [ngStyle]="{'width': (((element[2]/data.asks.last) || 0)*100) + '%'}">
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element[1]}} </td>
      </ng-container>

      <ng-container matColumnDef="Total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element[2]}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['Price', 'Amount', 'Total']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['Price', 'Amount', 'Total'];let i = index;">
      </tr>
    </table>

    <div class="info">
      {{(data.asks.first - data.bids.first) | number : '1.2-2'}} Spread
    </div>

    <table mat-table [dataSource]="data.bids?.displayList" class="mat-elevation-z8 bids-table" style="width: 100%">

      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element" class="price"> {{element[0]}}
          <div class="bg-div" *ngIf="element != null && element[2]!= null"
            [ngStyle]="{'width': (((element[2]/data.bids.last) || 0)*100) + '%'}">
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element[1]}} </td>
      </ng-container>

      <ng-container matColumnDef="Total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element[2]}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['Price', 'Amount', 'Total']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['Price', 'Amount', 'Total'];">
      </tr>
    </table>
  </ng-template>
</div>